<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container">
    <h2>Chocolates : 
    </h2>   
            <input  type="number" (keyup)="getDiscount($event)">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center" >{{ chocolate.name }}</td>
      </ng-container>
      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Manufacturer </th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center" >{{ chocolate.manufacturer }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Price per one</th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center" >{{ (chocolate.price*(100-chocolate.discount)/100 ).toFixed(2)}}</td>
      </ng-container>

      
      <ng-container matColumnDef="priceAll">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Price for all</th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center" >{{ (chocolate.amount*chocolate.price*(100-chocolate.discount)/100 ).toFixed(2)}}</td>
      </ng-container>


      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Discount  %</th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center" >{{ chocolate.discount }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Amount </th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center" >{{ chocolate.amount }}</td>
      </ng-container>

      
      <ng-container matColumnDef="ingredients">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Ingredients </th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center" >{{ chocolate.allIngredients }}</td>
      </ng-container>

      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Grade </th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center">
          <span class="rating">
            <i *ngFor="let fullStar of getFullStars(chocolate.grade)" class="fas fa-star"></i>
            <i *ngIf="hasHalfStar(chocolate.grade)" class="fas fa-star-half"></i>
            <i *ngFor="let emptyStar of getEmptyStars(chocolate.grade)" class="far fa-star"></i>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="mygrade">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> My grade </th>
        <td mat-cell *matCellDef="let chocolate" class="cell-center">
          <span class="rating">
            <i *ngFor="let star of chocolate.stars" class="fas fa-star"
              (click)="setGrade(chocolate, star)"></i>
            <i *ngFor="let emptyStar of chocolate.emptyStars" class="far fa-star" (click)="setGrade(chocolate, emptyStar)"></i>
            </span>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row;let column; columns: displayedColumns;" (click)="!disable ? chocolateDetails(row.name) : undisable()"></tr>
    </table>
  </div>
  
