.container {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    background-color: white;
}

table {
    width: 100%;
}

.home {
    background-color: transparent;
    color: white;
    border-color: transparent;
  }

.mat-toolbar {
    background-color: rgb(4, 92, 113);
  }

.table-title {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;

}

.cell-center {
    text-align: center;
}

.clickable:hover {
    font-weight: bold;
    cursor: pointer;
}

.add-button {
    margin: 10px 20px 10px 10px;
    color: black;
    background-color: #edece5;
    float: right;
}

.table-header {
    display: flex;
}

p {
    float: left;
    margin-right: auto;
}

.field {
    width: 50%;
    margin: auto;
    background-color: rgb(160, 159, 159);
    padding: 10px;
}

.search {
    width: 40%;
    margin-left: 157px;
    margin-top: 300px;
    display: flex;
    background-color: rgb(160, 159, 159);
}

.filter {
    width: 28%;
    margin-left: 20px;
    margin-top: 300px;
    display: flex;
    background-color: rgb(160, 159, 159);
}

.button {
    width: 100%;
    margin-left: 90px;
    margin-top: 315px;
    margin-bottom: 15px;
    margin-right: 90px;
    background-color: rgb(160, 159, 159);
    border-radius: 10px;
}

.line {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: auto;
    background-color: rgb(160, 159, 159);;
}

.filter-search {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.nameBtn {
    margin-left: 70px;
}

.gradeBtn {
    margin-left: 670px;
}

.bg {
    background-image: url("/assets/images/plavi.jpg");
    height: 100vh;
    width: 100vw;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
